.galindo-regular {
  font-family: "Galindo", sans-serif;
  font-weight: 400;
  font-style: normal;
}

button { 
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  padding: 25px;
  margin: 50px;
  font-family: 'Galindo', sans-serif;
  text-transform: uppercase;
  line-height: 1.5;
  background-color: #FCB3DC;
  border-radius: 24px;
  box-sizing: border-box;
  box-shadow: 0 9px #999;
  width: 366px;
  height: 108px;
  align-items: center;
  position: absolute;
  left:500px;
  top: 300px;
  z-index: 100;
  border: none;

}
button:hover{
  background-color: #FF82C9;
  color: white;

}

button:active {
  background-color: #FCB3DC;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.name-tag{
  font-family: 'Galindo', sans-serif;
  font-size: 20px;
  color: #333;
  text-align: center;
  margin-top: 690px;
}

html,
body {
  overscroll-behavior-x: none;
  overscroll-behavior-y: none;
  background-color: #C5E9FF;
  max-height: 800vh;
  
}
.animation-area{
  background: white;
  width: 100%;
  height: 800vh;
  z-index:1;
  max-height: 0vh;
}
.stars-area{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.stars-area li {
  position: absolute;
  display: block;
  width: 143px;
  height: 143px;
  background: #FFEBB0;
  opacity: 0.5;
  border-color: #FFE599;
  border-width: 5px;
  background: url('star.svg') no-repeat center;
  animation: twinkle 1.5s infinite ease-in-out, animate infinite linear; 
  top: -150px;
}
.stars-area li:nth-child(1){
  left: 14%;
  width: 100px;
  height: 100px;
  animation-duration: 4s;
  animation-delay: 0s;
  
}
.stars-area li:nth-child(2){
  left: 52%;
  width: 100px;
  height: 100px;
  animation-duration: 6s;
  animation-delay: 1s;

}
.stars-area li:nth-child(3){
  left: 24%;
  width: 100px;
  height: 100px;
  animation-duration: 5s;
  animation-delay: 2s;
  border-radius: 50%;
}
.stars-area li:nth-child(4){
  left: 85%;
  width: 100px;
  height: 100px;
  animation-duration: 5s;
  animation-delay: 3s;
  border-radius: 50%;
}
.stars-area li:nth-child(5){
  left: 58%;
  width: 100px;
  height: 100px;
  animation-duration: 6s;
  animation-delay: 4s;
  border-radius: 50%;
}
.stars-area li:nth-child(6){
  left: 34%;
  width: 100px;
  height: 100px;
  animation-duration: 7s;
  animation-delay: 5s;

}
.stars-area li:nth-child(7){
  left: 72%;
  width: 100px;
  height: 100px;
  animation-duration: 8s;
  animation-delay: 6s;
  
}
.stars-area li:nth-child(8){
  left: 84%;
  width: 100px;
  height: 100px;
  animation-duration: 9s;
  animation-delay: 4s;
  
}
.stars-area li:nth-child(9){
  left: 30%;
  width: 100px;
  height: 100px;
  animation-duration: 10s;
  animation-delay: 0s;
  
}
.stars-area li:nth-child(10){
  left: 40%;
  width: 100px;
  height: 100px;
  animation-duration: 11s;
  animation-delay: 1s;

}
.stars-area li:nth-child(11){
  left: 30%;
  width: 100px;
  height: 100px;
  animation-duration: 11s;
  animation-delay: 2s;

}
.stars-area li:nth-child(12){
  left: 60%;
  width: 100px;
  height: 100px;
  animation-duration: 11s;
  animation-delay: 3s;

}
.stars-area li:nth-child(13){
  left: 46%;
  width: 100px;
  height: 100px;
  animation-duration: 4s;
  animation-delay: 1s;
}
.stars-area li:nth-child(14){
  left: 27%;
  width: 100px;
  height: 100px;
  animation-duration: 3.45s;
  animation-delay: 0s;

}
.stars-area li:nth-child(15){
  left: 98%;
  width: 100px;
  height: 100px;
  animation-duration: 4.56s;
  animation-delay: 4s;
 
}
.stars-area li:nth-child(16){
  left: 57%;
  width: 100px;
  height: 100px;
  animation-duration: 3.45s;
  animation-delay: 14s;
 
}


/* animations */
@keyframes animate {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(900px);
    opacity: 0;
  }
}
@keyframes twinkle {
  0%, 100% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
}